@using Blackjack.Domain.Models
@using Blackjack.Domain.Models.Enums

@code {
    [Parameter]
    public GameState State { get; set; }

    [Parameter]
    public Player Player { get; set; }
}

@if (State == GameState.InProgress || State == GameState.Dealing || State == GameState.Payout)
{
    <h1 class="display-3 text-info">@Player.ScoreDisplay</h1>
}