@using Blackjack.Domain.Models

@code {
    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public Player Dealer { get; set; }
}

@if (Player.HasNaturalBlackjack
     && (Player.Score > Dealer.Score 
         || Dealer.IsBusted)
     && !Dealer.HasNaturalBlackjack)
{
    <h1 class="display-3 text-success">Blackjack!</h1>
}
else if (Player.IsBusted)
{
    <h1 class="display-3 text-danger">Busted</h1>
}
else if (Dealer.IsBusted || Player.Score > Dealer.Score)
{
    <h1 class="display-3 text-success">Win</h1>
}
else if (Dealer.Score > Player.Score || (Player.Score == Dealer.Score && !Player.HasNaturalBlackjack && Dealer.HasNaturalBlackjack))
{
    <h1 class="display-3 text-danger">Lose</h1>
}
else if (Player.Score == Dealer.Score || Player.HasNaturalBlackjack && Dealer.HasNaturalBlackjack)
{
    <h1 class="display-3 text-info">Draw</h1>
}